@import 'variables';
@import 'utilities';

body {
  background-color: #0d569c;
  color: $color-text;
}
#map {
  margin-right: auto;
  margin-left: auto;
}
svg {
  //background: #efefef;
  background: #0d569c;
}
.country {
  fill: #98aa61;
  stroke: #fff;
  stroke-width: 0.5;
}
.selected {
  fill: #ff0000;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
